:root {
  color-scheme: light;
  --background: white;
  --foreground: var(--color-gray-800);
  --primary: var(--color-blue-500);
  --primary-foreground: white;
  --secondary: var(--color-gray-100);
  --accent: var(--secondary);
  --border: var(--color-gray-200);
  --muted: var(--secondary);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --input: oklch(86.946% 0.00514 47.938 / 0.75);
  --ring: var(--primary);
  --radius: 0.625rem;
}
