:root {
  --background: white;
  --foreground: var(--color-gray-800);
  --primary: var(--color-violet-500);
  --primary-foreground: white;
  --secondary: var(--color-gray-100);
  --accent: var(--secondary);
  --ring: var(--primary);
  --border: var(--color-gray-200);
  --radius: 0.625rem;
}
