@import url(https://fonts.googleapis.com/icon?family=Material+Icons+Round);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons+Outlined);
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-slate-300 dark:border-slate-500;
  }

  input[type] {
    @apply placeholder:text-faded border-inherit placeholder:text-sm focus:border-slate-500/80 focus:outline-none focus:ring-transparent;
  }
}

@layer components {
  /* Icon */
  .icon,
  .icon-outline {
    @apply inline-block whitespace-nowrap align-middle text-2xl font-normal normal-case not-italic !leading-none tracking-normal;
    word-wrap: normal;
    direction: ltr;
  }
  .icon {
    font-family: "Material Icons Round";
  }
  .icon-outline {
    font-family: "Material Icons Outlined";
  }

  /*  Text colors */
  .text-prominent {
    @apply text-slate-700 dark:text-slate-100;
  }
  .text-wax {
    @apply text-slate-600 dark:text-slate-200;
  }
  .text-prime {
    @apply text-slate-500 dark:text-slate-300;
  }
  .text-faded {
    @apply text-slate-400;
  }
  .text-muted {
    @apply text-slate-300 dark:text-slate-500;
  }
  .text-filled {
    @apply text-slate-100;
  }

  /* tooltip */
  [data-tooltip-top],
  [data-tooltip-left],
  [data-tooltip-bottom],
  [data-tooltip-right] {
    @apply relative;
  }

  :is([data-tooltip-top], [data-tooltip-left], [data-tooltip-bottom], [data-tooltip-right])::before,
  :is([data-tooltip-top], [data-tooltip-left], [data-tooltip-bottom], [data-tooltip-right])::after {
    content: var(--tw-content);
    @apply pointer-events-none absolute top-1/2 left-1/2 z-50 -translate-x-1/2 -translate-y-1/2 opacity-0 shadow transition-all delay-100 ease-out;
  }
  :is([data-tooltip-top], [data-tooltip-left], [data-tooltip-bottom], [data-tooltip-right])::before {
    @apply rotate-45 rounded-sm p-1.5;
  }
  :is([data-tooltip-top], [data-tooltip-left], [data-tooltip-bottom], [data-tooltip-right])::after {
    --tw-content: attr(data-tooltip-top) attr(data-tooltip-left) attr(data-tooltip-bottom)
      attr(data-tooltip-right);
    @apply whitespace-nowrap rounded px-2 py-1 text-sm text-white;
  }

  :is([data-tooltip-top], [data-tooltip-left], [data-tooltip-bottom], [data-tooltip-right]):hover::before,
  :is([data-tooltip-top], [data-tooltip-left], [data-tooltip-bottom], [data-tooltip-right]):hover::after {
    @apply bg-emerald-500 opacity-100;
  }

  /* TOP */
  [data-tooltip-top]:hover::before {
    @apply -top-3;
  }
  [data-tooltip-top]:hover::after {
    @apply -top-3 -translate-y-full;
  }
  /* BOTTOM */
  [data-tooltip-bottom]:hover::before {
    top: calc(100% + theme("spacing.3"));
  }
  [data-tooltip-bottom]:hover::after {
    top: calc(100% + theme("spacing.3"));
    @apply translate-y-0;
  }
  /* LEFT */
  [data-tooltip-left]:hover::before {
    @apply -left-3;
  }
  [data-tooltip-left]:hover::after {
    @apply -left-3 -translate-x-full;
  }
  /* RIGHT */
  [data-tooltip-right]:hover::before {
    left: calc(100% + theme("spacing.3"));
  }
  [data-tooltip-right]:hover::after {
    left: calc(100% + theme("spacing.3"));
    @apply translate-x-0;
  }
}
/* 
top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2
*/

@layer components {
  .surface {
    @apply bg-slate-50 dark:bg-slate-800;
  }
}
