[data-theme='light'],
:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);

  --primary: oklch(51.1% 0.262 276.966);
  --primary-foreground: oklch(93% 0.034 272.788);

  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --accent: var(--secondary);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --muted: var(--secondary);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --destructive: oklch(0.577 0.245 27.325);

  --card: var(--background);
  --card-foreground: var(--foreground);
  --popover: var(--background);
  --popover-foreground: var(--foreground);

  --border: oklch(0.92 0.004 286.32);
  --input: oklch(86.946% 0.00514 47.938 / 0.75);
  --ring: var(--primary);

  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --chart-6: oklch(0.623 0.214 259.815);
}

/* Override default variables for dark theme */
[data-theme='dark'] {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: var(--foreground);
  --accent-foreground: var(--foreground);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --destructive: oklch(0.637 0.237 25.331);
  --card: oklch(0.21 0.006 285.885);
  --popover: var(--card);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);

  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
}
